<% 
const itemPerPage=3;
// for(i=0;i<4;i++){
//   paymentMethods=paymentMethods.concat(paymentMethods)
// }
const totalItems= paymentMethods.length;
let totalPage;
    totalPage = Math.floor(totalItems / itemPerPage);
    if (totalItems % itemPerPage > 0 || totalPage==0) {
      totalPage = totalPage + 1
    }
let supplier = supplierObj;
let addressArr = [supplier.address1, supplier.address2, supplier.address3, `${supplier.postcode || ''} ${supplier.city || ''}`, supplier.state].filter(a => a);
let supplierAddress = addressArr.join(",<br> ");%>
<div class="font-medium print-format">
  <% for(let page=1;page<=totalPage;page++) {
    const breakPage= page%2==1?'break-page':'';
    const pageId = page%2==1?`page${page}`:`next${page}`;
    %>

  <div id="<%= pageId %>" class="<%= breakPage %>">
    <%- letterHead.html %>
    <div class="row">
      <div class="col-8">
        <div class="h6"> <%= supplier.id %> </div>
        <%- supplierAddress %>
      </div>
      <div class="col-4">
        <div class="h5">PAYMENT VOUCHER</div> No.: <%= id %>
        <br /> Date: <%= postingDate %>
        <br /> Page : <%= page %> of <%= totalPage %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Desriptions:</div>
      <div class="col-9"><%= description %></div>
    </div>
    <div class="table-responsive">
      <table class="table table-borderless table-fixed-layout font-small">
        <thead>
          <tr class="border-top border-bottom border-black">
            <th class="table-col-5 px-0">No</th>
            <th class="px-0">Payment Method</th>
            <th class="table-col-20 text-end px-0">Amount(RM)</th>
          </tr>
        </thead>
        <tbody>
          <%
        const startIdx=((page-1) * itemPerPage)  ;
        const remainingIdx=totalItems-startIdx;
        const endIdx=(remainingIdx < itemPerPage?remainingIdx:itemPerPage) + startIdx;
        for(let index=startIdx;index<itemPerPage+ startIdx;index++){
        const paymentMethod = paymentMethods?.[index]; 
         if(paymentMethod){
        %>
          <tr class="<% if (index % itemPerPage == 0) { %>break-page<% } %>">
            <td class="p-0"> <%= index+1 %> </td>
            <td class="p-0"> <%= paymentMethod.paymentMethod %> </td>
            <td class="text-end p-0"> <%= paymentMethod.amount %> </td>
          </tr>
          <% }else{ %>
          <tr>
            <td class=" p-0 invisible"> <%= index+1 %></td>
          </tr>
          <% } }%>
        </tbody>
      </table>
      <%
     if (payForInvoice.length>0) {
        const invoices=payForInvoice.map(i=>i.purchaseInvoice).join(", ");
      %>
      <span class='font-small'> Pay for invoice: <%= invoices %> </font>
        <% } %>
    </div>
    <div class="footer">
      <hr class="border-black">
      <% if(page<totalPage){ %>
      <table class="table table-borderless table-fixed-layout font-small">
        <tr>
          <td colspan="100%" class="text-end h6  p-0"> Continue to next page ....</td>
        </tr>
      </table>
      <%}else{ %>

      <table class="table table-borderless table-fixed-layout font-small">
        <tr>
          <td rowspan="100%" class="p-0"><%= paidTotalInText %></td>
          <td class="text-end p-0 h6">Total Payment:</td>
          <td class="table-col-20 text-end  p-0 total-border h6"> <%= paidTotal %> </td>
        </tr>
      </table>
      <%} %>
    </div>
  </div>
  <% } %>
</div>


<style>


  .table-col-5 {
    width: 5% !important;
  }

  .table-col-10 {
    width: 10% !important;
  }

  .table-col-15 {
    width: 15% !important;
  }

  .table-col-20 {
    width: 20% !important;
    ;
  }

  .table-col-25 {
    width: 25% !important;
    ;
  }

  .total-border {
    border-top: 1px solid !important;
    border-bottom: double !important;
  }


  @page {
    size: A4 portrait;
    margin: 1.5cm;
  }

  @media print {
    .break-page {
      page-break-before: always;
    }
  }
</style>